<div class="header">
  <img src="assets/https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/54fbf860-1d0d-46e7-a22a-74edb3053c67/d6qj64q-f30328aa-5b8c-4ec4-979a-dea8d78c5498.png"> 
  <h2>TV Series</h2>
</div>

<div class="table-container">
  <table class="series-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Channel</th>
        <th>Seasons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serie of series; let i = index">
        <td>{{ i + 1 }}</td>
        <td><a [href]="serie" target="_blank">{{ serie.name }}</a></td>
        <td>{{ serie.channel }}</td>
        <td>{{ serie.seasons }}</td>
      </tr>
    </tbody>
  </table>
</div>
