/* Estilo del encabezado */
.header {
    display: flex;
    align-items: center;
    background-color: #0097A7;
    padding: 10px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .header h2 {
    color: white;
    margin: 0;
  }
  
  .series-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .series-table th, .series-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .series-table th {
    background-color: #f4f4f4;
  }
  
  .series-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .series-table a {
    color: #007bff;
    text-decoration: none;
  }
  
  .series-table a:hover {
    text-decoration: underline;
  }
  